.section1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../images/backgroundsky.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 685px;
}

.left-div {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.right-div {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.section1title {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  /* identical to box height, or 72% */
  display: flex;
  align-items: center;
  color: #ffffff;
}

.section1text {
  width: 560px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  display: flex;
  align-items: center;
  letter-spacing: 1.6px;
  color: #e8e8e8;
  margin-top: 30px;
}

.large__button {
  font-family: "Aleo", serif;
  font-size: 16px;
  line-height: 26px;
  border: solid;
  border-width: 1px;
  border-color: white;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  background: #5474fd;
  color: #ffffff;
  word-spacing: 1rem;
  height: 63px;
  width: 228px;
  text-align: center;
  margin-top: 30px;
}

.lakehouseimg {
  position: relative;
  right: 30px;
  margin-bottom: 20px;
}

.mountainimg {
  position: relative;
  left: 30px;
  margin-bottom: 20px;
}
