.section2 {
  background-color: #333333;
  height: 337px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shape1img {
  width: 777px;
  height: 99px;
  margin-top: 40px;
}

.botsect2 {
  display: flex;
  flex-direction: row;
}

.botsect2icons {
  display: flex;
  flex-direction: row;
  gap: 22rem;
  position: relative;
  bottom: 20px;
  color: #5474fd;
  font-size: 50px;
}

fa-solid fa-magnifying-glass {
  color: #5474fd;
}
.botsect2text {
  font-family: "Aleo";
  font-weight: lighter;
  font-size: 36px;
  line-height: 26px;
  color: #e8e8e8;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 12rem;
}
