@import "fonts";
@import "header";
@import "section1";
@import "section2";
@import "section3";
@import "section4";
@import "section5";
@import "footer";

* {
  margin: auto;
  max-width: 100%;
  box-sizing: border-box;
}
